body{
  font-family: 'RostelecomBasis';
  color: #101828;
  padding: 0;
  margin: 0;
}
p, h1, h2, h3, h4, h5, h6{
  padding: 0;
  margin: 0;
}
.container{
  max-width: 1232px;
  width: 100%;
  margin: 0 auto;
}
.logoRtc{
  display: flex;
  align-items: flex-end;
  position: relative;
  text-decoration: none;
  color: #101828;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  white-space: nowrap;
}
.header{
  padding: 20px 0;
  margin: 0;
  border-bottom: 1px solid rgba(16, 24, 40, 0.1);
}
.subheader{
  padding-bottom: 8px;
  padding-top: 20px;
  margin: 0;
  border-bottom: 1px solid rgba(16, 24, 40, 0.1);
}
.d-flex.jc-sb{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.logoRtc img{
  height: 40px;
  margin-right: 4px;
}
.header ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.header li:not(:last-child){
  margin-right: 12px;
}
.header ul a{
  text-decoration: none;
  font-size: 14px;
  color: rgba(16, 24, 40, 0.5);
  transition: all 0.2s;
}
.header ul a:hover{
  color: rgba(16, 24, 40, 1);
}

.header-link{
  text-decoration: none;
  font-size: 16px;
  color: rgba(16, 24, 40, 0.5);
  transition: all 0.2s;
}
.header-link:hover{
  color: rgba(16, 24, 40, 1);
}

.green{
  color: #37A32E;
}

.linehr{
  background: rgba(16, 24, 40, 0.5);
  display: block;
  height: 1px;
  width: 100%;
  position: relative;
  opacity: 0.1;
}
.emotion {
  color: #fff;
  font-size: 12px;
  padding: 4px 12px;
  position: absolute;
  left: 12px;
  bottom: 12px;
  background: #707581;
  border: 1px solid #000;
  box-sizing: border-box;
  border-radius: 4px;
}

.emotion.red {
  background: #ff0c0c;
  border-color: #a60000;
}

.emotion.green {
  background: #37a32e;
  border-color: #074f00;
}