.wrapper{
    margin-top: 28px;
}
.dropdown{
    width: fit-content;
}
.dropdownMenu{
    padding: 8px 16px;
    margin-top: 4px !important;
    border: 1px solid rgba(16, 24, 40, 0.25);
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
    *{
        background: none !important;
        padding: 0 !important;
        color: rgba(16, 24, 40, 0.5) !important;
        font-weight: 400;
        &:not(:last-child){
            margin-bottom: 4px;
        }
        &:hover{
            color: #000 !important;
        }
    }
}
.dateWrapper{
    display: flex;
    align-items: center;
}
.input{
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid rgba(16, 24, 40, 0.25);
    box-sizing: border-box;
    border-radius: 8px;
    width: 150px;
    margin-left: 8px;
    margin-right: 16px;
}
.datepicker{
    position: absolute;
    margin-top: 8px;
    z-index: 1000;
}
.resetBtn{
    padding: 7px 16px;
    cursor: pointer;
    background: #FF4F12;
    border-radius: 8px;
    color: #fff;
}
.dropdownControl{
    display: flex;
    flex-direction: row;
    width: fit-content;
    color: rgba(16, 24, 40, 0.5);
    font-size: 16px;
    padding: 2px 8px !important;
    margin: 0;
    border: 1px solid rgba(16, 24, 40, 0.25);
    box-sizing: border-box;
    border-radius: 8px !important;
    align-items: center;
}
.dropdownPlaceholder{
    color: rgba(16, 24, 40, 0.5);
    font-size: 16px;
    margin-right: 4px;
    line-height: 20px;
}
.arrow{
    width: 20px;
    transform: translateY(2px);
    path{
        color: rgba(16, 24, 40, 0.5);
    }
}
.flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 24px 0px;
}
